@page "/"

<h1>Task List Dashboard</h1>

Here are your lists:

<div class="row">
    <div class="col-md-4">
        <TaskList Name="Garrett"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Sue"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Mary"></TaskList>
    </div>
</div>
